# DATABASE_URL = mongodb+srv://sujood-cat:sujoodcaptureatrip2024@catcluster.9lorj8h.mongodb.net/capture-a-trip-static
GOOGLE_CLIENT_ID="google client id"
GOOGLE_CLIENT_SECRET="google client secret"
# key_id=hellothisisme
NEXT_PUBLIC_RAZORPAY_API_KEY="razorpay api public key"
RAZORPAY_API_SECRET_KEY="razor pay secret"
DATABASE_URL="db url"
NEXT_PUBLIC_BASE_URL=http://localhost:3000
NODEMAILER_RECIEVER_EMAIL="captureatriptest@gmail.com"
NODEMAILER_SENDER_PASSWORD="vstb zdzp thfk flvs"
NODEMAILER_RECIEVER_EMAIL=
FACEBOOK_PIXEL_ID=460663073067845
